body{
	font-family: Lato, sans-serif;
}

h1{
	margin: 0.5em 0 1em 0;
}
h2{

}
h3{
	color: #f9461c;
}
p{
	margin: 0 0 1em 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
	color: #f9461c;
}
.navbar-default .navbar-nav>li>a{
	text-transform: uppercase;
}
.entry{
	margin: 0 0 20px 0;
	padding: 1em;
	border: 1px solid #eee;
}
.entry h3{
	margin-top: 0;
}
.btn-h1-spacing{
	margin-top: 20px;
}